:root {
  font-size: 16px;
  --color-white: #fff;

  --z-canvas: 0;
  --z-overlay: 1;

  --overlay-shadow: 0px 1px 2px 2px #00000033;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

ul,
li {
  list-style: none;
}

button {
  appearance: none;
  background-color: transparent;
  outline-color: transparent;
  border-color: transparent;
}

#canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0 0 0 0;
  z-index: var(--z-canvas);
}

#debug,
#music,
#copyright {
  position: fixed;
  z-index: var(--z-overlay);
}

#music {
  cursor: pointer;
  right: 1rem;
  top: 1rem;
  border-radius: 100px;

  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  box-shadow: var(--overlay-shadow);
}

#music:hover {
  gap: 0.5rem;
}

#music:focus-within {
  outline: 1px solid var(--color-white);
  outline-offset: 2px;
}

#music .btn {
  position: relative;
  z-index: 3;
  background-color: var(--color-white);
}

#music .img {
  display: block;
  aspect-ratio: 1;
  width: 1.5rem;
  height: 1.5rem;
}

#music input {
  transform-origin: right;
  width: 0px;
  transition: width 0.5s ease-in-out;
  position: relative;
  z-index: 1;
  opacity: 0;
}

#music:hover input {
  scale: 1 1;
  width: 5rem;
  opacity: 1;
}

#debug {
  top: 6rem;
  right: 1rem;
  width: 100%;
  max-width: 15rem;
}

#copyright {
  right: 5rem;
  top: 1rem;
  z-index: calc(var(--z-overlay) - 1);
}

#copyright .btn {
  padding: 0.5rem;
  border-radius: 1000px;
  background-color: var(--color-white);
  box-shadow: var(--overlay-shadow);
}

#copyright .img {
  display: block;
  aspect-ratio: 1;
  width: 1.5rem;
  height: 1.5rem;
}

#copyright .list {
  position: absolute;
  right: 0;
  top: 100%;

  transition: all 0.3s ease-in-out;

  translate: 0 -1rem;
  opacity: 0;
  pointer-events: none;

  padding: 0.5rem;
  min-width: 15rem;
  border-radius: 0.25rem;
  background-color: var(--color-white);
  box-shadow: var(--overlay-shadow);
}

#copyright:hover .list,
#copyright .list:hover,
#copyright:focus-within .list {
  translate: 0 0;
  opacity: 1;
  pointer-events: all;
}

#copyright:focus-within .btn {
  outline: 1px solid var(--color-white);
  outline-offset: 2px;
}

#copyright .asset {
  margin-block: 0.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-transform: capitalize;
}
